# scala-cli
.scala-build

# Sbt
target
project/target
project/project/target
.bsp
.bloop

# Idea
.idea
*.iml
*.ipr
*.iws

# Emacs
*~
*#
.#*
.ensime
TAGS

# VS Code
.metals
.vscode/settings.json
**/metals.sbt

# Compilation log files
*.log
schema/jvm/src/test/resources/json-schema-test-suite/
