name: CI

env:
  JDK_JAVA_OPTIONS: -XX:+PrintCommandLineFlags -Djava.locale.providers=CLDR,JRE # JDK_JAVA_OPTIONS is _the_ env. variable to use for modern Java
  JVM_OPTS: -XX:+PrintCommandLineFlags -Djava.locale.providers=CLDR,JRE # for Java 8 only (sadly, it is not modern enough for JDK_JAVA_OPTIONS)

on:
  pull_request:
  push:
    branches: ['main']
  release:
    types:
      - published

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Install locale data
        run: |
          sudo apt-get update
          sudo apt-get install -y locales
          sudo locale-gen en_US.UTF-8
      - name: Checkout current branch
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Action
        uses: coursier/setup-action@v2
        with:
          jvm: temurin:11
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v7
      - name: Lint code
        run: sbt "++2.13; check; ++3.3; check; ++3.7; check"

  testJVM:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        java: [11, 25]
        os: ['ubuntu-22.04']
        platform: ['JVM']
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Set JVM options for JDK 25+
        if: matrix.java >= 25
        run: echo "JAVA_TOOL_OPTIONS=-XX:+UseCompactObjectHeaders" >> $GITHUB_ENV
        shell: bash
      - name: Setup Action
        uses: coursier/setup-action@v2
        with:
          jvm: temurin:${{ matrix.java }}
          jvm-index: https://raw.githubusercontent.com/coursier/jvm-index/refs/heads/master/index.json
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v7
      - name: Run Scala Next tests for macros
        run: sbt ++3.7.4! scalaNextTests${{ matrix.platform }}/test
      - name: Run tests
        run: sbt test${{ matrix.platform }}

  testJS:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        java: [11]
        os: ['ubuntu-22.04']
        platform: ['JS']
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Action
        uses: coursier/setup-action@v2
        with:
          jvm: temurin:${{ matrix.java }}
          jvm-index: https://raw.githubusercontent.com/coursier/jvm-index/refs/heads/master/index.json
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v7
      - name: Run Scala Next tests for macros
        run: sbt ++3.7.4! scalaNextTests${{ matrix.platform }}/test
      - name: Run tests
        run: sbt test${{ matrix.platform }}

  testNative:
    runs-on: ${{ matrix.os }}
    timeout-minutes: 60
    strategy:
      fail-fast: false
      matrix:
        java: [11]
        os: ['ubuntu-22.04']
        platform: ['Native']
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Action
        uses: coursier/setup-action@v2
        with:
          jvm: temurin:${{ matrix.java }}
          jvm-index: https://raw.githubusercontent.com/coursier/jvm-index/refs/heads/master/index.json
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v7
      - name: Run Scala Next tests for macros
        run: sbt ++3.7.4! scalaNextTests${{ matrix.platform }}/test
      - name: Run tests
        run: sbt test${{ matrix.platform }}

  ci:
    runs-on: ubuntu-latest
    needs: [lint, testJVM, testJS, testNative]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"

  publish:
    runs-on: ubuntu-22.04
    timeout-minutes: 90
    needs: [ci]
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0
      - name: Setup Action
        uses: coursier/setup-action@v2
        with:
          jvm: temurin:11
          apps: sbt
      - name: Release
        run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

