name: CI

env:
  JDK_JAVA_OPTIONS: -XX:+PrintCommandLineFlags # JDK_JAVA_OPTIONS is _the_ env. variable to use for modern Java
  JVM_OPTS: -XX:+PrintCommandLineFlags # for Java 8 only (sadly, it is not modern enough for JDK_JAVA_OPTIONS)

on:
  pull_request:
  push:
    branches: ['main']
  release:
    types:
      - published

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:11
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Lint code
        run: sbt "++2.13; check; ++3.3; check"

  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
      matrix:
        java: ['11', '21']
        scala: ['2.13.16', '3.3.5']
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4.1.2
        with:
          fetch-depth: 0
      - name: Setup Action
        uses: coursier/setup-action@v1
        with:
          jvm: temurin:${{ matrix.java }}
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Run tests
        run: sbt ++${{ matrix.scala }}! test

  ci:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Aggregate of lint, and all tests
        run: echo "ci passed"
